<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>

        <div id="indexCard">
            <div id="postCard" class="bg-white shadow p-3 rounded lg:w-64">
                <div id="postCardContent" class="mt-6">
                    <p id="apiWord" class="text-lg text-bold tracking-wide text-gray-600 mb-2">
                        
                    </p>
                    <p id="genericText" class="text-sm text-gray-600 font-hairline">
                        What does the word above mean?
                    </p>
                </div>
            </div>
        </div>

                <div id="indexCard">
            <div id="postCard" class="bg-white shadow p-3 rounded lg:w-64">
                <div id="postCardContent" class="mt-6">
                    <p id="apiWord" class="text-lg text-bold tracking-wide text-gray-600 mb-2">
                        Word from watson
                    </p>
                    <p id="genericText" class="text-sm text-gray-600 font-hairline">
                        What does the word above mean?
                    </p>
                </div>
            </div>
        </div>

                <div id="indexCard">
            <div id="postCard" class="bg-white shadow p-3 rounded lg:w-64">
                <div id="postCardContent" class="mt-6">
                    <p id="apiWord" class="text-lg text-bold tracking-wide text-gray-600 mb-2">
                        Word from watson
                    </p>
                    <p id="genericText" class="text-sm text-gray-600 font-hairline">
                        What does the word above mean?
                    </p>
                </div>
            </div>
        </div>

    
</body>
</html>
=======
<h1>Hey, welcome to LoSiento</h1>
>>>>>>> b96974aeaa0cba9b234fb2023c56f0a350608dd8
