<header id="pageHeader">
    <div id="headerWords homepage" class="text-xl text-center">
    Welcome to LoSiento, the best way to learn a language.<br>
    See what other people are learning!
</div>
</header>


{{#each history as |entry|}}
<div id="history" class="bg-white flex m-5">
    <div class="m-4">
        <h2 class="text-l">{{entry.user.username}}</h2>
    </div>
    <div class="m-4">
        Studied <b>{{entry.lesson.title}}</b> on {{formatDate entry.date_completed}}
    </div>
</div>
{{/each}}