<div class="text-2xl text-center">
    Welcome to LoSiento, the best way to learn a language.<br><br>
    See what other people are learning!
</div>
<div id="insert_content">
    <!-- User history goes here -->
</div>
<script src="js/home.js">
</script>