<header id="pageHeader">
    <h4 id="signUpMessage" class="text-2xl">Welcome, Sign Up for Free!</h4>
</header>

<div class="bg-grey-lighter min-h-screen flex flex-col">
    <form name="signupForm">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Sign up</h1>
                <h5 id="error_message" class="m-2 mb-2 text-center"></h5>
                <input id="username" type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="username" placeholder="Username" />

                <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="email"
                    id="email" placeholder="Email" />

                <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="password"
                    id="password" placeholder="Password" />
                <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="confirm_password" placeholder="Confirm Password" id="password2" />

                <button id="signup_form" type="submit"
                    class="w-full text-center py-3 rounded bg-green hover:bg-green-dark focus:outline-none my-1">Create
                    Account</button>

                <div class="text-center text-sm text-grey-dark mt-4">
                    By signing up, you agree to the
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Terms of Service
                    </a> and
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Privacy Policy
                    </a>
                </div>
    </form>
</div>
<!--changed-->
<script src="/js/signup.js"></script>