

<div class="flip-card-board">
    {{#each cards}}

    <div class="flip-card-container">
        <div class="flip-card">

            <div class="flip-card-front">
                <p>

                    {{this.en}}

                </p>
            </div>
            <div id="" class="flip-card-back">
                <p>
                    {{this.es}}
                </p>
            </div>
        </div>
    </div>

    {{/each}}
</div>