<header id="pageHeader">
    <h1 id="headerWords">Guess the words before you flip!</h1>
</header>

<div class="flip-card-board">
    {{#each cards}}

    <div class="flip-card-container">
        <div class="flip-card">

            <div id="cardFront" class="flip-card-front">
                <p>

                    {{this.en}}

                </p>
            </div>
            <div id="cardBack" class="flip-card-back">
                <p>
                    {{this.es}}
                </p>
            </div>
        </div>
    </div>

    {{/each}}
</div>